<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<title>Daily Schedules from Congress - Four Schedules</title>
	<link rel="stylesheet" href="http://assets.fourschedules.com.s3.amazonaws.com/v1/css/styles.css" type="text/css" media="screen" /> 

</head>
<body>
	<div id="header">
		<div id="headmain">
			<div id="title">Four Schedules</div>
			<div id="title_sub2">Daily Schedules from Congress</div>
		</div>
	</div>
	<div id="headerborder"></div> 
	<div id="main">
		<div id="house">
			<div id="house_floor">
			<h3><a href="{{ house_floor_source }}">House Floor</a></h3>
				<div id="house_floor_date">{{ house_floor.date }}</div>
				<div id="house_floor_agenda">{{ house_floor }}</div>
			</div>
			<h3>House Committee</h3>
			<div id="house_committee">
			  	<div id="house_cmte_agenda">
				  {{ house_smte }}
				</div>
				<ul id="house_committee_list">
					<li>blah</li>
					<li>blah</li>
					<li>woop</li>
					<li>woop</li>
				</ul>
			</div>
		</div>
		<div>
			<h3><a href="{{ senate_floor_source }}">Senate Floor</a></h3>
			<div id="senate_floor">
				<div id="senate_floor_date">{{ senate_floor.date }}</div>
				<div id="senate_floor_agenda">{{ senate_floor.agenda }}</div>
			</div>
			<h3>Senate Committee</h3>
			<div id="senate_committee">
			  	<div id="senate_cmte_agenda">
				  {{ senate_cmte }}
				</div>
				<ul id="senate_committee_list">
					<li>blah</li>
					<li>blah</li>
					<li>woop</li>
					<li>woop</li>				
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="http://assets.fourschedules.com.s3.amazonaws.com/v1/js/fs.js" />
	<script type="text/javascript" src="http://assets.fourschedules.com.s3.amazonaws.com/v1/js/jquery-1.4.2.min.js" />
</body>
</html>
